body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 0 200px;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 1000;
    align-self: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.header ul {
    display: flex;
    font-size: 18px;
    gap: 12px;
}

.hero-container {
    display: flex;
    background-color: #1F2937;
    padding: 0 200px;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.hero {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 1000;
}

.hero-subtext {
    color: #E5E7EB;
    font-size: 18px;
    margin-bottom: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 25px;
}

.hero-container button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    padding: 8px 25px;
    border-radius: 5px;
}

img {
    width: 500px;
}

.illustration {
    min-height: 150px;
    min-width: 150px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.title {
    font-size: 36px;
    font-weight: 1000;
    color: #1F2937;
    margin: 40px 0;
}

.rand-info-container ul{
    font-size: 18px;
    color: #1F2937;
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-left: 0px;
}

.rand-info-container {
    display: flex;
    flex-direction: column;
    padding: 0 200px;
    align-items: center;
}

.illustration-list li {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-basis: 0;
}

.quote {
    padding: 90px 250px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
}

.quote .line {
    font-size: 36px;
    color: #1F2937;
    font-style: italic;
}

.quote .name {
    font-weight: 1000;
    color: #1F2937;
    font-size: 22px;
    align-self: flex-end;
}

.action {
    display: flex;
    margin: 75px 200px;
    background-color: #3882F6;
    padding: 50px 75px;
    border-radius: 10px; 
    justify-content: space-between;
}

.action button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 700;
    border: 2px solid #F9FAF8;
    border-radius: 5px;
    padding: 8px 25px;
}

.left {
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
    justify-content: center;
    gap: 5px;
}

.left .call {
    font-size: 22px;
    font-weight: 1000;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    font-size: 18px;
    padding: 30px 0;
}